{% load nice_elapsed_time %}
<div class="NavigatorList">
    {% for narrative in narratives.narratives %}
    <div class="-item {% if selected_narrative.id == narrative.id %}-selected{% endif %}" 
         onclick="var ev = arguments[0]; if (ev.currentTarget !== ev.target && ev.target.tagName === 'A') {return true;}; window.location.href = '/navigator/{{ page.tab1 }}/{{ narrative.id }}';">
        <div style="display: flex; flex-direction: row">
            <div style="flex: 1 1 0">
                <a href="{{ settings.ui_base_url }}/narrative/{{ narrative.id }}" 
                target="_blank" 
                title="{{ narrative.title }}">
                    {{ narrative.title }}
                </a>
            </div>
            <div style="flex: 0 0 auto; color: gray;">
                {% if narrative.is_public %}
                    <span class="fas fa-globe" title="This Narrative is visible to all KBase users, and data is visible publicly" />
                {% else %}
                    <span class="fas fa-lock-open" title="This Narrative is only visible to you and any KBase users it has shared it with" />
                {% endif %}
            </div>
        </div>
        <div>
            <div style="font-style: italic; color: gray;">
                {{ narrative.modified_at|nice_elapsed_time}} 
                {% if narrative.created_at != narrative.modified_at %}
                    (created {{ narrative.created_at|nice_elapsed_time}})
                {% endif %}
            </div>
            <div>
                <a href="/user_profile/{{ narrative.owner }}" target="_blank">{{ narrative.owner}}</a>
            </div>
        </div>
        <div>
            <div style="font-style: italic; color: gray;">
                {{ narrative.cell_count}} cells, {{ narrative.object_count }} objects
            </div>
        </div>
    </div>
    {% endfor %}
</div>
